* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    line-height: 48px;
    position: relative;
}

.header {
    padding: 18px 0 0;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.main {
    padding-top: 122px;
    position: relative;
}

.container {
    max-width:1852px;
    width:100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 5;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.header .flex-container {
    justify-content: space-between;
    align-items: center;
}

.lang__link {
    font-family: roboto,sans-serif;
    font-weight: 700;
    padding-right: 42px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}

.nav-wrap, 
.nav__list {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav__item {
    padding-right: 10px;
}

.nav__link ,
.nav__item span {
    color: #000000;
    text-decoration: none;
}

.sidebar {
    width: 40%;
    align-self: flex-start;
    position: sticky;
    top:122px;
}

.article{
    width: 60%;
}

.sidebar__list { 
    list-style-type: none;
    counter-reset: sidebar-number;
}

.sidebar__item {
    padding-top: 92px;
}

.sidebar__item:first-of-type {
    padding-top: 0;
}

.sidebar__item::before {
    counter-increment: sidebar-number;
    content: counter(sidebar-number); 
    font-size: 21px;
    font-weight: 700;
    vertical-align: text-top; 
    margin-right: 22px;
}

.sidebar__link {
    text-decoration: none;
    font-size: 36px;
    font-weight: 900;
    color: #000000;
}

.content {
    margin-bottom: 80px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.text-holder__link {
    color:#000000;
}

.text-holder__item {
    margin-bottom: 40px;
}

.highlight {
    background-color: rgb(243, 239, 239);
}

.background-holder {
    position: fixed;
    bottom:0;
    right:0;
    z-index: 1;
}

.content__divider {
    display: block;
    background-color: #000000;
    width: 80px;
    height: 10px;
    margin-bottom: 20px;
}

.sidebar__divider {
    display: block;
    background-color: #BFBFBF;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;

}






