* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    line-height: 48px;
}

.container {
    max-width:1852px;
    width:100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    margin-bottom: 82px;
}

.header .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top:15px;
}

.lang__link {
    font-family: roboto,sans-serif;
    font-weight: 700;
    padding-right: 42px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}

.nav-wrap, 
.nav__list {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav__item {
    padding-right: 10px;
}

.nav__link ,
.nav__item span {
    color: #000000;
    text-decoration: none;
}

.content {
    margin-bottom: 80px;
}

.content .title {
    font-family: pt_sans,sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.text-holder__link {
    color:#000000;
}

.text-holder__item {
    margin-bottom: 40px;
}

.highlight {
    background-color: rgb(243, 239, 239);
}




